body {
    background-color: #efefef;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin-top: -340px;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    height: 0;
    border-top: 1px solid #dedede;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

ul,
ol {
    list-style: none;
    padding-right: 16px;
    padding-top: 7px;
}

.navul>li {
    font-size: 12px;
    color: #b7b7b7;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    font-weight: bold;
}

.navul>li>a:hover {
    border-bottom: 3px solid #dc6a67;
}

.navul>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    ;
}

.logo>.rs {
    color: #da6c68;
}

.logo>.card {
    color: #9c9da3;
    padding-left: 10px;
}

.topNavBar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    height: 515px;
    background-image: url(./img/download.jpg);
    background-position: center center;
    background-size: cover;
}

.mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.uscard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #FFF;
}

.welcome {
    color: #FFF;
    background-color: #e06c69;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
}

.sjx {
    width: 0px;
    border: 10px solid transparent;
    border-top-width: 0px;
    border-left-color: #e06c69;
    position: absolute;
    top: 100%;
    left: 4px;
}

.picture {
    float: left;
}

.text {
    float: left;
    margin-left: 65px;
}

.text hr {
    margin: 20px 0px;
}

.pictureAndText {
    padding: 50px;
}

.profile dl dt,
.profile dl dd {
    float: left;
    padding: 5px 0;
}

.profile dl dt {
    width: 30%;
    font-weight: bold;
}

.profile dl dd {
    width: 70%;
    color: #9da0a7;
}

.uscard .media {
    background-color: #e06c69;
    text-align: center;
}

.uscard svg {
    width: 30px;
    height: 30px;
    fill: #FFF;
    vertical-align: top;
}

.uscard .media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.uscard .media>a:hover {
    background-color: #c95254;
}

.download {
    text-align: center;
}

.button {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.button:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.jianjie {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

.sectjn {
    margin: 60px auto 0;
    max-width: 940px;
}

.sectjn>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600
}

.sectjn>ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

.sectjn li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.sectjn>ol>li:nth-child(even) {
    float: right;
}

.divs {
    background-color: #e25d5f;
}

.divf {
    background-color: #f9dcdd;
}

.sectjn>ol>li div {
    height: 5px;
    border-radius: 2px;
    margin: 4px 0 40px;
}

.sectzpj {
    margin: 60px auto 100px;
    text-align: center;
}

.sectzpj h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.sectzpj nav {
    margin-top: 32px;
    display: inline-block;
    vertical-align: top;
}

.sectzpj ol>li {
    float: left;
    cursor: pointer
}

.sectzpj ol> {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.sectzpj ol>li:not(:first-child) {
    margin-left: 40px;
}

.jobs {
    max-width: 940px;
    margin: 10px auto 100px;
    position: relative;
    height: 597px;
}

.big {
    position: absolute;
    top: 0;
    left: 0;
}

.small {
    position: absolute;
    top: 0;
    right: 0;
}

.smalla {
    position: absolute;
    top: 310px;
    right: 0;
}

.diva,
.divb {
    height: 5px;
    border-radius: 2px;
}

.diva {
    margin-top: 5px;
    margin-bottom: 28px;
    background-color: #fff;
}

.divb {
    background-color: #de5254;
    transition: all 0.3s;
}

.one {
    width: 35px;
    margin-left: 0px;
}

.two {
    width: 30px;
    margin-left: 70px;
}

.three {
    width: 113px;
    margin-left: 140px;
}